<h1>Pages#home</h1>

<h2>Affichage des seeds du model Day :</h2>

<% @days.each do |day| %>
        <p>Nom du jour : <%= day.name %></p>
<% end %>

<p>----------------------------------------------------------------------</p>

<h2>Affichage des seeds du model Room :</h2>
